## 1. Create a result table which contain student id, student name and 5 subject marks.

In [1]:
import sqlite3 as sq
con=sq.connect("RESULT.db")
cur=con.cursor()

In [2]:
table='''Create table if not exists result
        (
        sid int primary key,
        sname text NOT NULL,
        m1 int,
        m2 int,
        m3 int,
        m4 int,
        m5 int
        )'''

In [3]:
cur.execute(table)

## 2. Enter 10 studnet details with its marks.

In [5]:
insert2="insert into result values(?,?,?,?,?)"

In [6]:
l=[]

In [9]:
for i in range(10):
    sid=int(input(f"Enter student id of student {i+1}: "))
    sname=input(f"Enter student Name of student {i+1} :")
    m1=int(input(f"Enter marks of subject 1 of student {i+1} :"))
    m2=int(input(f"Enter marks of subject  2 of student {i+1} :"))
    m3=int(input(f"Enter marks of subject  3 of student {i+1} :"))
    m4=int(input(f"Enter marks of subject 4 of student {i+1} :"))
    m5=int(input(f"Enter marks of subject  5 of student {i+1} :"))
    t=(sid,sname,m1,m2,m3,m4,m5)
    l.append(t)

Enter student id of student 1: 101
Enter student Name of student 1 :Aastha
Enter marks of subject 1 of student 1 :90
Enter marks of subject  2 of student 1 :90
Enter marks of subject  3 of student 1 :90
Enter marks of subject 4 of student 1 :90
Enter marks of subject  5 of student 1 :90
Enter student id of student 2: 102
Enter student Name of student 2 :Jinal
Enter marks of subject 1 of student 2 :80
Enter marks of subject  2 of student 2 :80
Enter marks of subject  3 of student 2 :80
Enter marks of subject 4 of student 2 :80
Enter marks of subject  5 of student 2 :80
Enter student id of student 3: 103
Enter student Name of student 3 :Neti
Enter marks of subject 1 of student 3 :70
Enter marks of subject  2 of student 3 :70
Enter marks of subject  3 of student 3 :70
Enter marks of subject 4 of student 3 :70
Enter marks of subject  5 of student 3 :70
Enter student id of student 4: 104
Enter student Name of student 4 :Prapti
Enter marks of subject 1 of student 4 :60
Enter marks of subject  2 of student 4 :60
Enter marks of subject  3 of student 4 :60
Enter marks of subject 4 of student 4 :60
Enter marks of subject  5 of student 4 :60
Enter student id of student 5: 105
Enter student Name of student 5 :Diya
Enter marks of subject 1 of student 5 :50
Enter marks of subject  2 of student 5 :50
Enter marks of subject  3 of student 5 :50
Enter marks of subject 4 of student 5 :50
Enter marks of subject  5 of student 5 :50
Enter student id of student 6: 106
Enter student Name of student 6 :Prathana
Enter marks of subject 1 of student 6 :40
Enter marks of subject  2 of student 6 :40
Enter marks of subject  3 of student 6 :40
Enter marks of subject 4 of student 6 :40
Enter marks of subject  5 of student 6 :40
Enter student id of student 7: 107
Enter student Name of student 7 :Namarata
Enter marks of subject 1 of student 7 :95
Enter marks of subject  2 of student 7 :95
Enter marks of subject  3 of student 7 :95
Enter marks of subject 4 of student 7 :95
Enter marks of subject  5 of student 7 :95
Enter student id of student 8: 108
Enter student Name of student 8 :Jully
Enter marks of subject 1 of student 8 :85
Enter marks of subject  2 of student 8 :85
Enter marks of subject  3 of student 8 :85
Enter marks of subject 4 of student 8 :85
Enter marks of subject  5 of student 8 :85
Enter student id of student 9: 109
Enter student Name of student 9 :Khyati
Enter marks of subject 1 of student 9 :30
Enter marks of subject  2 of student 9 :30
Enter marks of subject  3 of student 9 :30
Enter marks of subject 4 of student 9 :30
Enter marks of subject  5 of student 9 :30
Enter student id of student 10: 110
Enter student Name of student 10 :Heena
Enter marks of subject 1 of student 10 :20
Enter marks of subject  2 of student 10 :30
Enter marks of subject  3 of student 10 :40
Enter marks of subject 4 of student 10 :23
Enter marks of subject  5 of student 10 :23

## 3. Dump table into csv file "result.csv".

In [7]:
import csv

In [8]:
header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4','SUBJECT_5']

In [10]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    writer_obj=csv.writer(csvfile)
    writer_obj.writerow(header)
    writer_obj.writerows(l)

## 4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [15]:
COLUMNS=[]
with open('reslult_tbl.csv','r',newline="") as read_csv:
    read_obj=csv.DictReader(read_csv)
    COLUMNS=list(read_obj)
    print(COLUMNS)
    print('\n')

[{'STUDENT_ID': '101', 'STUDENT_NAME': 'Aastha', 'SUBJECT_1': '90', 'SUBJECT_2': '90', 'SUBJECT_3': '90', 'SUBJECT_4': '90', 'SUBJECT_5': '90'}, {'STUDENT_ID': '102', 'STUDENT_NAME': 'Jinal', 'SUBJECT_1': '80', 'SUBJECT_2': '80', 'SUBJECT_3': '80', 'SUBJECT_4': '80', 'SUBJECT_5': '80'}, {'STUDENT_ID': '103', 'STUDENT_NAME': 'Neti', 'SUBJECT_1': '70', 'SUBJECT_2': '70', 'SUBJECT_3': '70', 'SUBJECT_4': '70', 'SUBJECT_5': '70'}, {'STUDENT_ID': '104', 'STUDENT_NAME': 'Prapti', 'SUBJECT_1': '60', 'SUBJECT_2': '60', 'SUBJECT_3': '60', 'SUBJECT_4': '60', 'SUBJECT_5': '60'}, {'STUDENT_ID': '105', 'STUDENT_NAME': 'Diya', 'SUBJECT_1': '50', 'SUBJECT_2': '50', 'SUBJECT_3': '50', 'SUBJECT_4': '50', 'SUBJECT_5': '50'}, {'STUDENT_ID': '106', 'STUDENT_NAME': 'Prathana', 'SUBJECT_1': '40', 'SUBJECT_2': '40', 'SUBJECT_3': '40', 'SUBJECT_4': '40', 'SUBJECT_5': '40'}, {'STUDENT_ID': '107', 'STUDENT_NAME': 'Namarata', 'SUBJECT_1': '95', 'SUBJECT_2': '95', 'SUBJECT_3': '95', 'SUBJECT_4': '95', 'SUBJECT_5': '95'}, {'STUDENT_ID': '108', 'STUDENT_NAME': 'Jully', 'SUBJECT_1': '85', 'SUBJECT_2': '85', 'SUBJECT_3': '85', 'SUBJECT_4': '85', 'SUBJECT_5': '85'}, {'STUDENT_ID': '109', 'STUDENT_NAME': 'Khyati', 'SUBJECT_1': '30', 'SUBJECT_2': '30', 'SUBJECT_3': '30', 'SUBJECT_4': '30', 'SUBJECT_5': '30'}, {'STUDENT_ID': '110', 'STUDENT_NAME': 'Heena', 'SUBJECT_1': '20', 'SUBJECT_2': '30', 'SUBJECT_3': '40', 'SUBJECT_4': '23', 'SUBJECT_5': '23'}]

In [ ]:
for row in COLUMNS:
    total_marks=sum(int(row[f'SUBJECT_{i}'])
for j in range(1,6))
    percentage=total_marks/5
    if percentage>=90:
        grade='A'
    elif percentage>=80 and percentage<=90:
        grade='B'
    elif percentage>=70 and percentage<=80:
        grade='C'
    elif percentage>=60 and percentage<=70:
        grade='D'
    elif percentage>=50 and percentage<=33:
        grade='E'
    else:
        grade='F'
row['total_marks']=total_marks
row['grade']=grade

In [ ]:
with open('reslult_tbl.csv','w',newline="") as csvfile:
    header=['STUDENT_ID','STUDENT_NAME','SUBJECT_1','SUBJECT_2','SUBJECT_3','SUBJECT_4',
            'SUBJECT_5','total_marks','grade']
    write_obj=csv.DictWriter(csvfile,fieldnames=header)
    write_obj.writeheader()
    write_obj.writerows(COLUMNS)

## 5. List out Top 3 Student id and name with its percentage.